//colors
$grey-logo:rgba(85,89,92);
$sky-blue:rgba(146,220,229);
$rojo-claro:rgba(239,100,97);
//breakpoints
$bp-sm:767px;//sé que el  breakpoint de sm es 576px, pero lo puse en 767px porque uso un max-width y quiero que tome pantallas xs y sm hasta antes de md.
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;

//Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500&display=swap');
$popins:'Poppins', sans-serif;
$popins-regular:400;
$popins-bold:500;

$primary-font:$popins;
$primary-font-bold:$popins-bold;
$primary-font-regular:$popins-regular;

$monserrat:'Montserrat', sans-serif;
$monserrat-bold:700;
$monserrat-medium:500;

$secondary-font:$monserrat;
$secondary-font-bold:$monserrat-bold;
$secondary-font-medium:$monserrat-medium;


