.perfil__botones{
    align-self: center;
    margin-right: 100px;
        .btn{
            border-radius: 0;
            color: white;
            }
        .btn-1{
            background-color: $sky-blue;
        }
        .btn-2{
            background-color: $rojo-claro;
        }
    }