.photos{
margin-top: 20px;
margin-bottom: 50px;
    &__videos{
        text-align: left;
        padding-left: 10%;
        font-size: 20px;
        @include respond-to($bp-sm){
           text-align: center;
           padding-left: 0;
            }
    }
    &__card{
        border: none;
    }
    &__img{
        border-radius:0;
        align-content: center;
        height: 20vh;
    @include respond-to-md($bp-md){
        height: 10vh;
    }    
    }

    &__text{
        font-size: 18px;
        font-weight: bold;
    }
    &__row{
        padding-left: 10%;
        padding-right: 10%;
        row-gap: 20px;
        @include respond-to($bp-sm){
            padding-left: 0;
            padding-right: 0;
             }
     }



}


    
    



