.navigator{
    margin-left:5%;
    margin-right: 5%;
    @include respond-to($bp-sm){
        margin-top: 4%;
        margin-bottom: 4%;
    }
    &__span-1{
        font-size: 35px;
        font-family: $primary-font;
        font-weight: $primary-font-bold;
    }
    &__span-2{
        font-size: 10px;
        position: absolute;
        top:6.85px;

    }
    &__burger{
        color:$grey-logo;
        font-size:25px;        
    }

    &__link-1, &__link-2, &__link-3, &__link-4, &__link-5{
        color: black;
        }
}
